html, body{
   overflow-x: hidden;  // Masquer scroll horizontal
  width: 100%;
}

.skill_live {
  animation: fillProgress  3s infinite ease-in-out;
  animation-timing-function: cubic-bezier(.79,.14,.15,.86);
  animation-fill-mode: both;
  
}

/*La @forrègle, écrite @for <variable> from <expression> to <expression>
 { ... }ou @for <variable> from <expression> through <expression> { ... }, 
 compte de façon croissante ou décroissante d'un nombre (le résultat de la première expression )
  à un autre (le résultat de la seconde) et évalue un bloc pour chaque nombre intermédiaire. 
Chaque numéro en cours de route est attribué au nom de variable donné. Si toest utilisé,
 le numéro final est exclu ; si throughest utilisé, il est  inclus. */

@for $i from 0 through 6 {
  .delay-#{$i} {
    animation-delay: calc(0.5s * $i);
    animation-duration: 6s;
  }
}

@keyframes fillProgress  {
  0% {
   width: 0;
  }
  100% {
    width: 100%;
  }
}


/*loader spin*/
#loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 1%, 0.9); /* Couleur de fond avec opacité */
    z-index: 9999; /* Assure que le loader est au-dessus de tout le reste */
    display: none; /* Caché par défaut */
}

#loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    place-items: center;
    background-color: blueviolet;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Modification de la durée de l'animation */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes spin {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}
